header {
  width: 100%;
  position: absolute;
  padding-left: 45px;
  padding-right: 45px;
  display: flex;
  justify-content: center;
  z-index: 100;
  top: 0;
  // background: white;
  padding-top: 36px;
  transition: all .3s ease;
  position: fixed;
  background: white;
  &.fade-in {
    padding-top: 0;
    // @include box-shadow;
    // border-bottom: 1px solid;
  }

  .brand {
    // font-weight: bold;
    font-size: 24px;
    text-align: center;
    line-height: 72px;
    text-align: center;
    margin-top: 0;
    padding-left: 0;
    span {
      color: black;
      // color: #ff0000;
      // color: darkblue;
      // color: FireBrick;
      // color: #238854;
      // color: grey;
      position: relative;
    }
  }
}

.green {
  color:#238854;
}
.blue {
  color:darkblue;
}

nav {
  display: flex;
  position: absolute;
  right: 45px;
  .nav-item {
    margin-left: 45px;
    margin-top: spacing(base);
    line-height: 24px;
    color: #888;
    cursor: pointer;
    // color: darkblue;
    &:hover {
      color: black;
    }
  }
  .selected {
    color: black;
    position: relative;
    &:before {
      // position: absolute;
      // content: "";
      // top: 11px;
      // left: -20px;
      // width: 8px;
      // height: 8px;
      // border-radius: 50%;
      // background: darkblue;
      // background: black;
    }
    // color: #238854;
    // border-bottom: 2px solid;
    // padding-bottom: 2px;
  }
}
