$gutter: 30px;

// G L O B A L
//////////////////////////
main {
  margin-top: spacing(triple);
  margin-bottom: 200px;
}

.container {
    margin: 0 auto;
    display: block;
    width: 100%;
    padding: 0 $gutter * 1.5;
}

.header {
  height: 72px;
}


// H O M E
//////////////////////////
.home .title {
  max-width: 800px;
  margin-bottom: 6px;
}
.portfolio .row {
  margin-top: 60px;
}


.square {
  width: 100%;
  margin: 0 auto;
  display: block;
  // overflow: hidden;
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    margin: 0;
    &.gs {
      // filter: grayscale(100);

    }
  }
}

.square {
  // position: relative;
  display: flex;
  overflow: hidden;
  img {
    width: 100%;
    height: 100%;
    position: absolute;
    transition: all .5s ease;
  }
  .cover2, .logo {
    // right: 100%;
    z-index: 1;
    opacity: 0;
  }
  &:hover {
    .cover2 {
      opacity: 1;
      // right: 0%;
    }
  }

}



.portfolio_thumb {
  position: relative;
  // border: 1px solid blue;
  overflow: hidden;
  &_title {
    bottom: 0px;
    padding-bottom: 24px;
    position: absolute;
    z-index: 10;
    padding-left: 24px;
    color: black;
    background: white;
    transition: all .5s ease;
    margin: 15px;
    width: calc(100% - 30px;)!important;
    opacity: 0;
    z-index: 100;
  }
  &:hover {
    .portfolio_thumb_title {
      opacity: 1;

    }
    .logo {
      // opacity: 0;
    }
    .photo {
      // opacity: 1;
    }
  }
}

.portfolio_thumb {
  cursor: pointer;
  display: block;
  // max-width: 50s0px;
  margin: 0 auto 30px;
  // overflow: hidden;



  &_title {
    // padding-left: 15px;
    display: inline-block;
    // opacity: 0;
    width: 100%;
    padding-top: 12px;
    .small {
      display: block;
      line-height: 24px;
      margin-top: 0;
      height: 24px;
      // background: rgba(255,182,193 ,0.5);
      // border-bottom: 2px solid;
      .ts {
        top: 6px;
      }
    }
    .lead {
      // background: rgba(255,182,193 ,0.5);
      display: block;
      .ts {
        top: 10px;
      }
    }
  }
}






// P R O J E C T
//////////////////////////
:root {
  --videoHeight: calc(216px - 72px);
}

.project .heading {
  height: var(--videoHeight);
}

.project .title {
  display: flex;
  align-items: flex-end;
  height: 84px;
  .work-areas {
    margin-bottom: 24px;
    margin-left: 30px;
  }
}

.project .cover {
  width: 100%;
  overflow: hidden;
}

.cover-container {
  width: 100%;
  height: calc(100vh - 240px);
  margin: 0 auto spacing(triple);
  background: black;
  display: flex;
  justify-content: center;
  position: relative;
  video {
    margin: 0 auto;
    overflow: hidden;
  }
}

.project-txt {
  margin: spacing(triple) auto;
}
.project-img-container {
  // height: 768px;
  max-width: 100%;
  display: flex;
  justify-content: center;
  margin: spacing(triple) auto;
}
.project-img {
  height: 768px;
  object-fit: contain;
  display: inline-block;
  margin: 0 45px;
}
