// Fonts
@font-face {
    font-family: 'Druk Medium';
    src: url('../fonts/Druk-Medium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Druk Wide Bold';
    src: url('../fonts/DrukTextWide-Bold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Druk Heavy';
    src: url('../fonts/Druk-Heavy.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'NHaasGrotesk';
    src: url('../fonts/NHaasGroteskTXPro-55Rg.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'NHaasGrotesk';
    src: url('../fonts/2F0FA1_0_0.woff') format('woff');
    font-weight: normal;
    font-style: italic;
}
@font-face {
    font-family: 'NHaasGrotesk';
    src: url('../fonts/NHaasGroteskTXPro-75Bd.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');


$baseline: 24px;
$spacing: (
  half: $baseline / 2,
  base:  $baseline,
  double: $baseline * 2,
  triple: $baseline * 3,
  quad: $baseline * 4,
);

body {
    font-family: 'NHaasGrotesk', Helvetica, Arial, sans-serif;
    font-size: 16px;
    line-height: 24px;
    font-weight: normal;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}


// Headline
.headline, .lead, .small {
  .ts {
    position: relative;
  }
}

.ts {
  top: 6px;
  position: relative;
}

.italic {
  font-style: italic;
}

.bold {
  font-weight: bold;
}

.secondary {
  color: #666;
}

.gs {
  filter: grayscale(100);
}

.headline {
  font-size: 79px;
  line-height: 84px;
  display: inline-block;
  vertical-align: baseline;
  &.copy {
      max-width: 800px;
  }
  .ts {
    top: -10px;
  }
}



.project-data-container {
  margin-top: 48px;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  max-width: 730px;
  justify-content: center;
  .project-data {
    margin-right: 30px;
    margin-left: 30px;
    display: block;
    display: flex;
    font-size: 16px;
      line-height: 36px;
    span {
      margin-right: 90px;
      text-align: right;
      display: inline-block;
      // text-transform: uppercase;
      // font-size: 13px;
      // letter-spacing: 1px;
    }
  }
}

.credits-container {
  display: flex;
  width: 100%;
  align-items: center;
  flex-direction: column;
  margin-top: 0rem;
  font-size: 16px;
  // border-bottom: 2px solid;
  // line-height: 16px;
  .credits {
    display: flex;
    margin: 15px 45px;
    width: 100%;
    .small-title {
      margin-right: 45px;
      text-align: right;
      width: 50%;
      font-size: 13px;
      // text-transform: uppercase;
      letter-spacing: 1px;
    }
    ul {
      // letter-spacing: 1px;
      // font-size: 13px;
      width: 50%;
    }
  }
}

.text-right {
  display: block;
  text-align: right;
}
.text-center {
  text-align: center;
}

.small-title {
  // text-transform: uppercase;
  // letter-spacing: 1px;
  // font-size: 13px;
  display: inline-block;
  margin-bottom: 12px;
  span {
    // border-bottom: 1px solid;
    // border-right: 2px solid;
    padding: 2px 0;
    // background: #f0f0f0;
  }
}

.lead {
  font-size: 24px;
  line-height: 36px;

  .ts {
    top: -2px;
  }
  &.copy {
    max-width: 700px;
  }
  &.secondary {
    color: #999;
  }
}
.small {
  line-height: 24px;
  // font-size: 13px;
  .ts {
    top: -6px;
    position: relative;
  }
}

.heading .lead {
  // color: #999;
}


sup {
  position: relative;
  bottom: 1px;
  font-size: .8em;
  line-height: .8em;
  vertical-align:super;
  text-decoration:none;
}
