.arrow-right {
  width: 100px;
  height: 125px;
}

.chevron-left {
  width: 10px;
  height: 18px;
}

.chevron-right {
  width: 10px;
  height: 18px;
}

.copyright {
  width: 20px;
  height: 20px;
}

.hand {
  width: 100px;
  height: 125px;
}

